<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.webengage.sample">

    <queries>
        <package android:name="com.google.android.youtube" />

        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data
                android:host="www.youtube.com"
                android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name="com.webengage.sample.MainApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WebEngagesample"
        tools:targetApi="31">

        <!--Register FCM Service-->
        <service android:exported="true"
            android:name=".push.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name="com.webengage.sample.inline.RecyclerActivity" />
        <activity
            android:name="com.webengage.sample.inline.DynamicScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://www.webengage.com/screen1" -->
                <data
                    android:host="www.webengage.com"
                    android:scheme="https" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.webengage.sample.inline.ScreenDetails" />
        <activity
            android:name="com.webengage.sample.inline.ListScreenActivity" />

        <!--Set WebEngage Environment-->
        <meta-data
            android:name="com.webengage.sdk.android.environment"
            android:value="us" />

        <activity
            android:name="com.webengage.sample.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".user.UserActivity" />
    </application>

</manifest>